div.callbackform(id="callbackform")
    div.ftimes
        i.fa.fa-2x.fa-times
    div.callbackform__content Здесь будет форма обратного звонка
div.preloader
    div.pre_logo
        div.pre_dot.blue
        div.pre_dot.green
        div.pre_dot.orange
        div.pre_dot.red
div.foliwrap
    div.images
    div.content
        div.incontent
    div.wtimes
        i.fa.fa-2x.fa-times
script(src="src/js/vendor/jquery.html5Loader.min.js")
script(src="src/js/vendor/jquery.waypoints.min.js")
script(src="src/js/vendor/jquery.mousewheel-3.0.6.pack.js")
script(src="src/js/vendor/fancybox/jquery.fancybox.pack.js")
script(src="src/js/vendor/owl/owl.carousel.min.js")
script(src="src/js/vendor/selectric/jquery.selectric.min.js")
script(src="src/js/vendor/typed.js")
script(src="src/js/vendor/device.js")
script(src="src/js/vendor/wow.min.js")
script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
script(src="src/js/plugins.js")
script(src="src/js/main.js")