script(src="src/js/vendor/jquery-1.10.2.min.js")
script(src="src/js/vendor/jquery.mousewheel-3.0.6.pack.js")
script(src="src/js/vendor/fancybox/jquery.fancybox.pack.js")
script(src="src/js/vendor/owl/owl.carousel.min.js")
script(src="src/js/vendor/selectric/jquery.selectric.min.js")
script(src="src/js/plugins.js")
script(src="src/js/main.js")