footer.in
    div.container-fluid
        div.row
            div.col-md-5.col-sm-12
                div.like
                    span.text Понравились наши работы, хотите такой же сайт для Вашей компании?
            div.col-md-2.hidden-sm.hidden-xs
                span.text Свяжитесь с нами
            div.col-md-3.col-sm-6
                div.callback
                    a.callbacklink.button(href="#") Оставить заявку
            div.col-md-2.col-sm-6
                div.phone
                    span.footphone 8 800 1234 5653