doctype html
html(lang="ru")
    include ./includes/head.jade
    div.wrapper
        include ./includes/inheader.jade
        main
            div.container-fluid
                div.row.text
                    div.col-xs-12
                        h1 Блог
                        p Developers work closely with the UX and design team to ensure creative freedom. Resulting in a website that looks great, is intuitive for the end user and easy to manage in-house, helping to reduce administration costs.
        include ./includes/infooter.jade
include ./includes/foot.jade