doctype html
html(lang="ru")
    include ./includes/head.jade
    div.wrapper
        include ./includes/inheader.jade
        main
            div.container-fluid
                div.row.text
                    div.col-xs-12
                        h1 Блог
                        p Developers work closely with the UX and design team to ensure creative freedom. Resulting in a website that looks great, is intuitive for the end user and easy to manage in-house, helping to reduce administration costs.
                div.row.blog
                    div.col-lg-10.col-lg-offset-1.col-md-12
                        div.row
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
                            div.col-sm-6
                                div.blogitem
                                    div.blogitem__img
                                        a(href="#")
                                            img(src="src/img/pic.jpg", alt="")
                                    div.blogitem__content
                                        div.header
                                            a(href="#") Название статьи
                                        div.text.hidden-sm Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                        div.readmore
                                            a.more(href="#") Читать подробнее
        include ./includes/infooter.jade
include ./includes/foot.jade