doctype html
html(lang="ru")
    include ./includes/head.jade

        p azaza
        div
            svg(width="40px", height="40px", fill="#00ff00")
                use(xlink:href="#icon-food")
            p Иконка иконочка

    include ./includes/foot.jade