doctype html
html(lang="ru")
    include ./includes/head.jade

        p azaza
        div
            +svg("#icon-food", "80px", "40px", "#00ff00")
            p Иконка иконочка

    include ./includes/foot.jade