doctype html
html(lang="ru")
    include ./includes/head.jade
    div.wrapper
        include ./includes/inheader.jade
        main
            div.container-fluid
                div.row.text
                    div.col-xs-12
                        h1 Наши работы
                        p Developers work closely with the UX and design team to ensure creative freedom. Resulting in a website that looks great, is intuitive for the end user and easy to manage in-house, helping to reduce administration costs.
                div.row.portfolio
                    div.col-lg-10.col-lg-offset-1.col-md-12
                        div.row
                            div.col-sm-6
                                div.portfolioitem
                                    div.portfolioitem__img
                                        a.folin(href="#")
                                            img(src="src/img/pic2.jpg", alt="")
                                    div.portfolioitem__content
                                        div.padder
                                            div.header
                                                a.folin(href="#") Название статьи
                                            div.text Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                            div.readmore
                                                a.folin(href="#") Читать подробнее
                                    div.portfolioitem__images
                                        a(href="#")
                                            img(src="src/img/c1.jpg", alt="")
                                        a(href="#")
                                            img(src="src/img/c2.jpg", alt="")
                                        a(href="#")
                                            img(src="src/img/c3.jpg", alt="")
                                    div.portfolioitem__hidecontent
                                        div.header Заголовок
                                        div.subheader Подзаголовок элемента
                                        div.ttext
                                            strong CG Partners
                                            |  это творческая команда веб-разработчиков, дизайнеров и аналитиков, которые любят решать сложные задачи и выполнять поставленные цели.
                                        a.look(href="#") Смотреть сайт
                            div.col-sm-6
                                div.portfolioitem
                                    div.portfolioitem__img
                                        a.folin(href="#")
                                            img(src="src/img/pic2.jpg", alt="")
                                    div.portfolioitem__content
                                        div.padder
                                            div.header
                                                a.folin(href="#") Название статьи
                                            div.text Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                            div.readmore
                                                a.folin(href="#") Читать подробнее
                            div.col-sm-6
                                div.portfolioitem
                                    div.portfolioitem__img
                                        a.folin(href="#")
                                            img(src="src/img/pic2.jpg", alt="")
                                    div.portfolioitem__content
                                        div.padder
                                            div.header
                                                a.folin(href="#") Название статьи
                                            div.text Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                            div.readmore
                                                a.folin(href="#") Читать подробнее
                            div.col-sm-6
                                div.portfolioitem
                                    div.portfolioitem__img
                                        a.folin(href="#")
                                            img(src="src/img/pic2.jpg", alt="")
                                    div.portfolioitem__content
                                        div.padder
                                            div.header
                                                a.folin(href="#") Название статьи
                                            div.text Internet Dreams Studio are proud to be apart of the web design and ecommerce development for this exciting new London start-up.
                                            div.readmore
                                                a.folin(href="#") Читать подробнее
        include ./includes/infooter.jade
include ./includes/foot.jade